.icon{
    width: 10rem;

}

body{
    background-image: url("media/what_would_you_like_to_do.png"); 
    background-repeat: no-repeat;
    background-position: center -5%;
    background-size: 87%;

}


.explore{
    width: 10rem;
}
.compare{
    width:10rem
}
.coming{
    width: 10rem;
}

h2{
    background-color: white;
    width: 10rem;
}
