.icon{
    width: 10rem;

}

body{
    background-image: url("media/what_would_you_like_to_do.png"); 
    background-repeat: no-repeat;
    background-position: center -5%;
    background-size: 87%;

}


.explore{
    width: 10rem;
    position: absolute;
    right: 32%;
    bottom:8rem
}
.compare{
    width:10rem;
    position: absolute;
    left: 31%;
    bottom:8rem
}
.coming{
    width: 10rem;
    position: absolute;
    right: 45%;
    top: 5.4rem
}

h2{
    width: 10rem;
}
