@import url('https://fonts.googleapis.com/css?family=Solway|Sulphur+Point&display=swap');

*{font-family: 'Solway', serif;}

header{
    display: flex;
} 

.icon{
    width: 36.5%;
}

ul{
    list-style-type: none;
    font-size: 1.45rem;
    display: flex;
    position: absolute;
    right: 2rem;
}
a{
    font-size: 1.45rem;
    text-decoration: none;
    padding: .5rem;
    color: black;
    font-family: 'Solway', serif;
}


h2{
    text-decoration: underline;
    margin-left: 2rem;
}

.langList{
    height: 66%;
    width: 75%;
    margin-left: 8rem;
    margin-right: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: 1fr 1fr 1fr 1fr;  
    grid-column-gap: 20px;
    grid-row-gap: 20px
}

li>a:hover{
    color: #7eb601
}

li>a:active{
    color:#c9e001
}

.card{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid;
    border-radius: 8px;
    
}

.card > img{
    width: 66%;
}

.card:hover{

    box-shadow: 4px 6px 17px #888888
}





