@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alatsi|Poppins&display=swap');
/* font-family: 'Rock Salt', cursive */
/* font-family: 'Caveat Brush', cursive */

.icon{
    /* height: 5rem; */
    height: 100%;
}
.logo{
    height: 5rem;
    width: 5rem;
}


h1{
    font-family: 'Caveat Brush', cursive;
    font-size: 4rem;
    margin-top: 0;   
    /* margin-left: 2rem; */
}

header{
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
}
a{
    width: 15%;
    color: black;
    text-decoration: none;
    font-size: 2rem;
    /* font-family: 'Roboto Mono', monospace; */
    /* font-family: 'Alatsi', sans-serif; */
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: column;
}

a:hover{
    color: #7eb601
}

a:active{
    color:#c9e001
}

