@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Alatsi|Poppins&display=swap');
/* font-family: 'Rock Salt', cursive */
/* font-family: 'Caveat Brush', cursive */
header{
    display: flex;
}

.icon{
    height: 100%;
}
.logo{
    height: 5.3rem;
    width: 5.3rem;
}

.nameBanner{
    width: 30.65%;
}

div{
    display: flex;
    flex-direction: column;
}
a{
  text-decoration: none;
  color: black;
  font-family: 'Poppins', sans-serif;
  width: 5.5rem;
}

a:hover{
    color: #7eb601
}

a:active{
    color:#c9e001
}

