@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
/* font-family: 'Rock Salt', cursive */
/* font-family: 'Caveat Brush', cursive */

header{
    display: flex;
    
} 

img.icon{
    height: 5.3rem;
    width: 5.3rem;
}
.logo{
    height: 100%
}

.nameBanner{
    width: 30.65%;
} 


/* .newLanguage{
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    position: absolute;
    right: 2rem;
    
} */
.newLanguage:hover{
    color: #7eb601
}
.newLanguage:active{
    color: #c9e001
}
.icon{
    height: 5rem;
}

.nameHeader{
    font-family: 'Caveat Brush', cursive
}

.phonemes{
    /* font-family: 'Roboto Mono', monospace; */
    size: cover;
    font-size: 1.2rem;
    width: 30%;
    height:40%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border-style: solid;
    border-width: 3px;
    padding: 5px;
}


h4{
    padding: 6px;
    margin-top: none;
}

div{
    /* height: 100%; */
    margin-right: 2rem;
    display: flex;
    justify-content: column;
    justify-content: flex-end;
}
h3{
    font-family: 'Poppins', sans-serif;
    min-width: 100%;
    text-decoration-line: underline;
}
.disclaimer{
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;
}






