@import url('https://fonts.googleapis.com/css?family=Solway|Sulphur+Point&display=swap');

*{
    font-family: 'Solway', serif; 
}

header{
    display: flex;
} 

.main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.icon{
    width: 36.5%;
}

ul{
    list-style-type: none;
    font-size: 1.45rem;
    display: flex;
    position: absolute;
    right: 2rem;
}

a{
    text-decoration: none;
    padding: .5rem;
    color: black;
    font-family: 'Solway', serif;
}

a:hover{
    color: #7eb601
}

a:active{
    color:#c9e001
}

.nameHeader{
    margin-left: 1rem;
}


.phonemes{
    size: cover;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 5px;
}
.soundBox{
    border-style: solid;
    border-width: 3px;
    max-height: 500px;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: scroll;
    margin-right: 2.5rem;

}

.phoneme{
    padding: 10px;
    margin: 10px;
}

h3{
    font-family: 'Solway', serif;
    font-weight: normal;
    min-width: 100%;
    text-decoration-line: underline;
}
#disclaimer{
    font-family: 'Sulphur Point', sans-serif;
    font-size: .9rem;
}

.duoGif{
    height: 4.4rem;
    overflow: visible;
}

.duolingoLink{
    font-size: 1.4rem;
    margin-top: 3rem;
    text-decoration: none;
    color: #61a004;
    text-shadow: .25px .25px black;
}
.duolingoLink:hover{
    color:black
}

.duoBar{
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 2rem;
    width: 150%;
}

.soundsAndLink{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 33%;
}

.infoBox{
    padding: 5px;
    max-height: 500px;
    width: 40%;
    margin-left: 2.5rem;
   
    overflow: scroll;
}

.infoHeader{
    border-bottom: 3px solid;
    text-decoration: none;
    margin: 0;
    
}

.genInfoBox{
    margin: 0;
    border-bottom: 3px solid;
    height: 34%
}

.grammarInfoBox{
    height: 66%; 
}















