header{
    display: flex;
}

.icon{
    width: 5.3rem;
    align-self: flex-start;
}

.nameBanner{
    width: 30.65%;
}

a{
    text-decoration: none;
    font-size: 25px;
	/* background: linear-gradient(to bottom, green 0%, yellow 100%); */
	/* -webkit-background-clip: text;
	-webkit-text-fill-color: transparent; */
}

